.nav{
    background-color: var(--clr-primary);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
  
    
}
.navul{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: flex-end;
    align-items: center;
    list-style:none;
    text-decoration:none;
}
@media (max-width:430px) {
    .navul{
        display: none;
    }
    .title{
        font-size: 20px;
        
    }
    .subtitle{
        font-size: 14px;
    }
    .nav{
        padding: 10px;
    }
}