
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&family=Varela+Round&display=swap');

:root  {
    
    --clr-primary: #bbbbbb;
    --clr-secondary: #f7f2f1;
    --clr-accent: #96fc58;
    --text: #111111;
}

/* *{
    margin: 0 ; 
    text-decoration:none;
    list-style:none;
    box-sizing: border-box;
    
} */

body  {
  
    font-family:  'Montserrat', sans-serif;
}

h1,
h2, 
h3 {
    font-family: 'Varela Round', sans-serif;
}
